@CHARSET "ISO-8859-1";

.navigationbar {
	border-width: 0;
	border-bottom: medium solid;
	border-color: #000000;
	
}
.maindisplay {
	display: flex;
	display: -webkit-flex;
	
	border: 0 none;
	overflow-y: visible;
	/* flex: 2 1 auto; */
}