@CHARSET "ISO-8859-1";

#navbutton {
	border: 2px solid black;
	border-radius: 0px;
	height: 0%;
	width: 25%;
	margin: 0 5px 0 5px;
	padding-left: 5px;
	vertical-align: middle;
	background-color: lightgray;
	/* flex: growth_rate shrink_rate */
	flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	/* padding: 50 50 50 50; */
}
#navbutton:hover, #navbutton:focus{
	animation-name: makeroundedrectangle;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	background-color: lightgreen;
	color:			white;
	border:			2px solid black;
	border-radius:	7px;
	flex: 			2 1;
	-webkit-flex:	2 1;
}

#hidden {
	border: 0px none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	width: 1px;
}
#searchtext {
	flex: 2 1;
	-webkit-flex: 2 1;
	border-radius: 0px;
	animation-name: makeroundedrectangle;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
#searchtext:focus {
	flex: 3 1;
	-webkit-flex: 3 1;
	border-radius: 7px;
}
.searchbox {}
.searchbox:focus {
	flex: 3 1;
	-webkit-flex: 3 1;
}

.navbar {
	display : flex;
	display: -webkit-flex; /* Safari compatibility */
	flex-direction: row;
	
	justify-content: center;
	align-items: center;
	
	margin-left: 33%;
	margin-right: 33%;
}

@keyframes makeroundedrectangle {
	from {
		/* height: 20px; */
		border-radius: 0px;
	}
	to	  {
		/* height: 40px; */
		border-radius: 7px;
	}
}

/* @-moz-keyframes makeroundedrectangle {
	from { height: 10%; }
	to 	  { height: 20%; }
}

@-webkit-keyframes makeroundedrectangle {
	from { height: 10%; }
	to 	  { height: 20%; }
} */