@CHARSET "ISO-8859-1";

#navbutton {
	border: 0;
	border-radius: 10px;
	height: 0%;
	width: 25%;
	margin: 0 5 0 5;
	/* flex: growth_rate shrink_rate */
	flex: 1 2;
	-webkit-flex: 1 2;
	/* padding: 50 50 50 50; */
}
#hidden {
	border: 0px none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	width: 1px;
}
#navbutton:hover, #navbutton:focus{
	animation-name: expand;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	flex: 2 1;
	-webkit-flex: 2 1;
}

#searchtext {
	flex: 3 1;
	-webkit-flex: 3 1;
	animation-name: expand;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}
.searchbox {}
.searchbox:focus {
	flex: 3 1;
	-webkit-flex: 3 1;
}

.navbar {
	display : flex;
	display: -webkit-flex; /* Safari compatibility */
	flex-direction: row;
}

@keyframes expand {
	from { flex: 1 1; }
	to	  { flex: 2 1; }
}

@-moz-keyframes expand {
	from { flex: 1 1; }
	to 	  { flex: 2 1; }
}

@-webkit-keyframes expand {
	from { -webkit-flex: 1 1; }
	to 	  { -webkit-flex: 2 1; }
}